:root {
  --main-color: hsl(308, 80%, 15%);
  --action-color: hsl(113, 44%, 51%);
  --hover-color: hsl(113, 44%, 69%);
  --background-color: hsl(0, 0%, 89%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main a,
header a {
  text-decoration: none;
  color: black;
}

html, #root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--background-color);
}

/* body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
} */

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1500px;
}

header {
  font-size: xx-large;
  font-weight: 700;
  /* text-align: center; */
  background-color: var(--main-color);
  padding: 0.5em;  
  z-index: 2;
  position: relative;
  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.666);

}

header h1 {
  color: whitesmoke;
  font-size: 40px;
}

header .info {
  position: absolute;
  top: 0.2em;
  right: 10px;
  color: rgb(46, 138, 138);
}

footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  background-color: var(--main-color);
  color: whitesmoke;
  line-height: 1.5em;
}

.all-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em auto auto auto;
  max-width: 1500px;
}

.country-filters {
  max-width: 1500px;
  min-width: 320px;
  padding: 0.69em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.666);
  z-index: 3;
}

.country-filter {
  font-size: 16px;
  height: 2em;
  line-height: 2em;
  border-radius: 8px;
  width: 30vw;
  max-width: 400px;
  padding-left: 4px;
}

.hide {
  display: none;
}

/* start single country */

.one-country-page {
  text-align: center;
  margin: 1em;
}

.large-flag {
  width: 90vw;
  margin: auto;
  max-width: 600px;
  max-height: 600px;
  /* filter: drop-shadow(0 0 10px rgb(131,131,131)); */
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}

.one-country-info {
  background-color: var(--background-color);
  border: 1px solid black;
  box-shadow: 0 0 10px var(--main-color);
  margin: 0.75em auto;
  border-radius: 12px;
  padding-top: 0.5em;
  max-width: 666px;
  text-align: center;
}

.one-country-info-divide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.one-country-info-snippet {
  text-align: left;
  display: inline;
}

.one-country-info-snippet h3 {
  display: inline;
}

.single-info div {
  display: inline;
  font-size: 1.25em;
  text-align: right;
}

.multi-info {
  margin: 1em;
  width: 40%;
}

.single-info {
  margin: 0.25em 1em;
}

.one-country-page h1 {
  text-align: center;
  margin: 0.25em;
}

.my-info {
  width: 80vw;
  margin: 2em auto;
}

.my-info p {
  margin-bottom: 1em;
}

.neighbor-info {
  text-align: center;
  width: 100%;
}

.neighbor-flags {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.neighbor-flags>div {
  margin: 0.25em;
}

img {
  width: 30vw;
  height: auto;
  padding: 5px;
  animation-name: fade-in;
  animation-duration: 2.5s;
}

.country-card {
  display: flex;
  /* background-color: white; */
  margin-bottom: 0.5em;
  box-shadow: black 0px 0px 15px 3px;
}

.country-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
  text-overflow: ellipsis;
}

.country-info-wrapper {
  width: 70vw;
  margin: 0.5em auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}

.learn-more {
  background-color: var(--action-color);
  border-radius: 5px;
  height: 100%;
  line-height: 100%;
  width: 80px;
  padding: 1em;
  text-align: center;
  margin: auto;
}

/* .neighbor-flags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.neighbor-flags>div {
  background-color: var(--background-color);
} */

/* start all country listings */

@media screen and (min-width: 564px) {
  .all-countries {
    margin: initial;
    padding: 3em 0px 3em 0px ;
    background-image: url('./resources/world-lowres.svg');
    background-color: #aaa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: soft-light;
    /* background-size: 100vh; */
    min-height: 85vh;
  }

  .country-card {
    all: initial;
    opacity: 1;
    width: 250px;
    height: fit-content;
    min-height: 250px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 12px 12px;
    box-shadow: rgb(131, 131, 131) 0 0 10px;
    transition: all 120ms ease-out 40ms;
  }
  
  .country-card:hover {
    transform: scale(1.05);
    box-shadow: black 1 1 12px;
  }
  
  img {
    all: initial;
    width: 100%;
    min-height: 120px;
  }
  
  .country-info {
    all: initial;
    padding: 0.5em;
    background-color: var(--background-color);
    width: calc(100% - 1em);
    margin: auto;
  }
  
  .country-info-wrapper {
    all: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    padding: 0 0 0 0;
    justify-content: initial;
  }

  .learn-more {
    all: initial;
    display: block;
    margin: auto;
    line-height: 3em;
    font-size: larger;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: relative;
    background-color: var(--action-color);
  }
  
  .learn-more:hover {
    background-color: var(--hover-color);
  }
}

/* end all country listings */

/* loading spinner */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.loading {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 0 10px black;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.loading-spinner {
  height: 125px;
  width: 20px;
  position: relative;
  background-color: white;
  transform: rotate(0);
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loading spinner */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}