:root {
  --main-color: rgb(71, 8, 63);
  --action-color: rgb(43, 151, 79);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html, #root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
  min-height: -webkit-fill-available;

}

#root {
  display: flex;
  flex-direction: column;
}

header {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  background-color: var(--main-color);
  padding: 0.5em 0 0.5em 0;  
  z-index: 2;
  position: relative;
  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.666);

}

header h1 {
  color: whitesmoke;
  font-size: 50px;
}

header .info {
  position: absolute;
  top: 0;
  right: 10px;
  color: rgb(46, 138, 138);
}

footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  background-color: var(--main-color);
  color: whitesmoke;
  line-height: 1.5em;
}

.all-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em auto auto auto;
}

.country-filters {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.666);
  z-index: 3;
}

.country-filter {
  line-height: 2em;
  border-radius: 8px;
  width: 120px;
  padding-left: 4px;
}

.hide {
  display: none;
}



/* start single country */

.one-country-page {
  margin: auto;
  align-items: center;
}

.large-flag {
  width: 92vw;
  max-width: 600px;
  margin:4em 4vw 2em 4vw;
  filter: drop-shadow(0 0 10px rgb(131,131,131))
}

.one-country-info {
  margin: auto 4vw;
}

.one-country-table {
  margin-top: 0.5em;
  width: 100%;
  max-width: 600px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 4px;
}

th, td {
  background-color: whitesmoke;
}

.my-info {
  width: 60vw;
  margin: 4em auto;
}

.my-info-list {
  margin: 1em 2em;
}

.my-info-list ul {
  margin: 0.25em 1em;
}

/* default styling is for mobile */

body {
  background-color: whitesmoke;

}

img {
  width: 25vw;
  padding: 2px;
}

.country-card {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5em;
  box-shadow: black 0px 0px 15px 3px;
}

.country-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
  text-overflow: ellipsis;
}

.country-info-wrapper {
  width: 75vw;
  margin: 0.5em auto;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.learn-more-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}

.learn-more {
  background-color: var(--action-color);
  height: 100%;
  line-height: 100%;
  width: 80px;
  padding: 1em;
  text-align: center;
  margin: auto;
}

/* start all country listings */

@media screen and (min-width: 415px) {
  .country-card {
    all: initial;
    width: 250px;
    height: fit-content;
    min-height: 250px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 12px 12px;
    box-shadow: rgb(131, 131, 131) 0 0 10px;
    transition: all 120ms ease-out 40ms;
  }
  
  .country-card:hover {
    transform: scale(1.05);
    box-shadow: black 1 1 12px;
  }
  
  img {
    all: initial;
    width: 250px;
  }
  
  .country-info {
    all: initial;
    padding: 0.5em;
    /* background-color: khaki; */
    width: 100%;
    margin: auto;
  }
  
  .country-info-wrapper {
    all: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    padding: 0 0 0 0;
    justify-content: initial;
  }

  .learn-more {
    all: initial;
    display: block;
    margin: auto;
    line-height: 3em;
    font-size: larger;
    text-align: center;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: relative;
    background-color: var(--action-color);
  }
  
  .learn-more:hover {
    background-color: rgba(36, 173, 82, 0.666);
  }
}



/* end all country listings */